@keyframes flipX {
    0% {
        transform: perspective(200px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
    }
}