@font-face {
    font-family: 'Inter-Medium';
    src: file_path('fonts/Inter/Inter-Medium.eot');
    src: file_path('fonts/Inter/Inter-Medium.eot?#iefix') format('embedded-opentype'),
         file_path('fonts/Inter/Inter-Medium.woff2') format('woff2'),
         file_path('fonts/Inter/Inter-Medium.woff') format('woff'),
         file_path('fonts/Inter/Inter-Medium.ttf') format('truetype'),
         file_path('fonts/Inter/Inter-Medium.svg#Cinzel-Black') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: file_path('fonts/Inter/Inter-SemiBold.eot');
    src: file_path('fonts/Inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
         file_path('fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
         file_path('fonts/Inter/Inter-SemiBold.woff') format('woff'),
         file_path('fonts/Inter/Inter-SemiBold.ttf') format('truetype'),
         file_path('fonts/Inter/Inter-SemiBold.svg#Cinzel-Black') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani-SemiBold';
    src: file_path('fonts/Rajdhani/Rajdhani-SemiBold.eot');
    src: file_path('fonts/Rajdhani/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
         file_path('fonts/Rajdhani/Rajdhani-SemiBold.woff2') format('woff2'),
         file_path('fonts/Rajdhani/Rajdhani-SemiBold.woff') format('woff'),
         file_path('fonts/Rajdhani/Rajdhani-SemiBold.ttf') format('truetype'),
         file_path('fonts/Rajdhani/Rajdhani-SemiBold.svg#Cinzel-Black') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani-Bold';
    src: file_path('fonts/Rajdhani/Rajdhani-Bold.eot');
    src: file_path('fonts/Rajdhani/Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),
         file_path('fonts/Rajdhani/Rajdhani-Bold.woff2') format('woff2'),
         file_path('fonts/Rajdhani/Rajdhani-Bold.woff') format('woff'),
         file_path('fonts/Rajdhani/Rajdhani-Bold.ttf') format('truetype'),
         file_path('fonts/Rajdhani/Rajdhani-Bold.svg#Cinzel-Black') format('svg');
    font-weight: 700;
    font-style: normal;
}