body,
html {
    color: $color_text;
    font-family: $font_base;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $blue;

    /* IT'S DESKTOP ONLY */
    min-width: 1000px;
    overflow-x: auto;
}

a {
    color: $color_text;
    transition: color, background-color .3s linear;
    text-decoration: none;
}

strong {
    font-family: $font_base;
    font-size: 13px;
    line-height: 12px;
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_second_bold;
}

h1 {
    font-size: 90px;
    margin-bottom: 60px;
}

h2 {
    font-size: 65px;
    line-height: 62px;
    margin-bottom: 30px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 30px;
    line-height: 27px;
}

h5 {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 5px;
}

h6 {
    font-size: 18px;
    line-height: 19px;
}

button {
    transition: color, background-color .3s linear;
}

button,
input,
select,
textarea,
a {
    &:focus,
    &:active {
        outline: none;
    }
}

main {
    margin-top: -92px;
}

section {
    position: relative;

    &:after {
        background-color: $white;
        bottom: 20px;
        content: '';
        position: absolute;
        height: 1px;
        left: 50%;
        max-width: 1340px;
        width: 100%;
        transform: translateX(-50%);
        z-index: 0;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $blue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $blue;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $blue;
}

.bg-red {
    background-color: $red;
}

.bg-blue {
    background-color: $blue;
}

.text-white {
    color: $white;
}

.text-blue {
    color: $blue;
}

.text-light {
    color: $blue_light;
}

.text-lighter {
    color: $blue_light2;
}

.text-red {
    color: $red;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.sub-heading {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.heading {
    .sub-heading {
        font-family: $font_second_bold;
        font-size: 20px;
        line-height: 62px;
        text-align: center;
        letter-spacing: 0.1em;
    }
}

.description {
    color: $white;
    font-family: $font_second;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 35px;
}

.animate__animated {
    opacity: 0;
}

.animate__delay-05s {
    animation-delay: .5s;
}