$font_base: 'Inter-Medium';
$font_base_semibold: 'Inter-SemiBold';
$font_second: 'Rajdhani-SemiBold';
$font_second_bold: 'Rajdhani-Bold';

$color_text: #02243B;
$white: #FFFFFF;
$black: #000000;
$red: #E02125;
$blue: #02243B;
$blue_light: #8BAABE;
$blue_light2: #708C9E;

$files_prefix: '../../assets/';
