.section-performance {
    padding: 160px 0 240px;
    overflow: hidden;

    .heading {
        margin-bottom: 110px;
    }

    .text-bg {
        bottom: 0;
        color: #082B43;
        font-family: $font_second_bold;
        font-size: 600px;
        position: absolute;
        line-height: 295px;
        z-index: 0;
        left: -50px;
    }
}

.row-perf {
    display: flex;
    padding-left: 60px;
    position: relative;
    gap: 100px;
    z-index: 1;

    h4.text-lighter {
        font-family: $font_second;
    }

    p {
        font-size: 12px;
        line-height: 24px;
        margin: 25px 0;
        width: 90%;
    }

    .col {
        > div {
            padding: 48px 0;

            &:not(:last-child) {
                border-bottom: 1px solid $white;
            }
        }

        img {
            margin-right: -119px;
            transition: margin 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                margin-top: -10px;
            }
        }
    }
}